<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div id="main">
        <img src='/static/images/top_logo.gif' width="250" height="70">
        <div id="menu">
            

        <p>Project: {{ project.name }}</p>
        <p>Manager: {{ project.manager.name }}</p>
        <p>Customer: {{ project.customer }}</p>
        </div>
        <div id="content">
             {{ project.name }} 

            </div>
        </div>

        <div id="footer">
            There will be a section "About me"
        </div>
</div>
</body>
</html>

</body>
</html>