<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<div id="main">
    <h1>Welcome</h1>
    <div id="menu">
        <p><a href="{{ url_for('messages') }}">Messages</a></p>
        <p><a href="{{ url_for('info') }}">Info</a></p>
        <p><a href="{{ url_for('tasks')}}">Tasks</a></p>
        <p><a href="{{ url_for('reg')}}">Registration</a></p>
        <p><a href="{{ url_for('auth')}}">Auth</a></p>
    </div>
    <div id="content">
        <a href="{{ url_for('main') }}">Return main page</a>
        <h2>Information about app and owner</h2>

    </div>

    <div id="footer">

    </div>
</div>
</body>
</html>
