<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
  <div id="main">
    <h1>Welcome</h1>
        <div id="menu">
            <p><a href="{{ url_for('message_api') }}">Messages</a></p>

        </div>
        <div id="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                     {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form method='post' action="{{ url_for('auth_api') }}">
                <h2>Login</h2>
                <input placeholder="Login" type="text" name="login">
                <input placeholder="Password" type="password" name="password">
                <button type="submit">LOGIN</button>
            </form>

        </div>

        <div id="footer">
            There will be a section "About me"
        </div>

</body>
</html>


