<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="main">
    <h1>Welcome</h1>
        <div id="menu">

            <p><a href="{{ url_for('auth_api')}}">Registration</a></p>
            <p><a href="{{ url_for('auth_api')}}">Auth</a></p>
            <p><a href="{{ url_for('order_api')}}">Orders</a></p>
            <p><a href="{{ url_for('project_api)}}">Project settings</a></p>
            <p><a href="{{ url_for('manager_api)}}">Manager settings</a></p>


        </div>
        <div id="content">

            <div id="logist-info">
                quantity orders
            </div>
        </div>

        <div id="footer">
            There will be a section "About me"
        </div>
</div>
</body>
</html>