<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/templates/checkbox.js')}}"></script>
</head>
<body>
<div id="main">
    <img src='/static/images/top_logo.gif' width="250" height="70">
    <div id="menu">
        
    </div>
    <div id="content">
        <div id="orders" style="position: relative">
            <form method="get" action="{{ url_for('OrdersView:get') }}">
                <label>
                    <input type="checkbox" id="shest0" {% if ended == '1' %} checked {% endif %}>
                    <span>Not ended</span>
                </label>
            </form>
            <table>
                <tr>
                    <th>
                        <div id="number-project">Number Project</div>
                    </th>
                    <th>Customer</th>
                    <th>Invoice</th>
                    <th>Status</th>
                    <th>Carrier</th>
                    <th>Date send</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Date delivery</th>
                    <th>Total sum</th>
                    <th>Document number</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>
                        <div id="project">
                            {% for project in order.projects %}
                                <div id="number"><a href="{{url_for('ProjectsView:get')}}{{project.name}}">{{project.name}}</a></div>
                                <div id="number">{{ project.manager.small_name}}</div>
                            {% endfor %}
                        </div>
                    </td>
                    <td> {% for project in order.projects %}
                            <div id="number">{{ project.customer}}</div>      
                        {% endfor %} </td>
                    <td> {% for invoice in order.invoices %}
                            {{invoice.name}} 
                         {% endfor %}   
                    </td>
                    <td>{{ order.state_order }}</td>
                    <td>{{ order.carrier }} </td>
                    <td>{{ order.date_send }} </td>
                    <td>{{ order.sender }}</td>
                    <td>{{ order.receiver }}</td>
                    <td>{{ order.date_delivery }}</td>
                    <td>{{ order.total_sum }}</td>
                    <td>{{ order.doc_number }}</td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="footer">
        There will be a section "About me"
    </div>
</div>
</body>
</html>