<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h2>Task for teach</h2>
<a href="{{ url_for('main') }}">Return main page</a>
<p><b>List tasks</b></p>
<p><label><b><input type="checkbox" name="teach">Python</b>
</label></p>
<p><label><input type="checkbox" name="teach">Docker-compose
</label></p>
<p><label><input type="checkbox" name="teach">Patterns
</label></p>
<p><label><input type="checkbox" name="teach">SQL
</label></p>
<p><label><input type="checkbox" name="teach">Algortims
</label></p>
<p><label><input type="checkbox" name="teach">REST
</label></p>
<p><label><input type="checkbox" name="teach">OOP
</label></p>
<p><label><input type="checkbox" name="teach">Testing
</label></p>
</body>
</html>